<!-- From https://codepen.io/rbv912/pen/dYbqLQ -->
<template>
  <div class="loading">
    <span class="loading__body"></span>
  </div>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style lang="scss" scoped>
.loading-blocks {
  animation: loading-frames-1 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) infinite;
  border-radius: 50%;
  border: 2px solid #000;
  bottom: 0;
  content: "";
  display: block;
  height: 16px;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
}

.loading {
  display: inline;
  margin-right: 10px;
  padding: 10px 10px 0 0;
  position: relative;

  &__body {
    bottom: 0;
    display: block;
    height: 16px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;

    &::before {
      @extend .loading-blocks;
    }

    &::after {
      @extend .loading-blocks;

      animation: loading-frames-2 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) .25s infinite;
    }
  }
}

@keyframes loading-frames-1 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(1.5);
  }
}

@keyframes loading-frames-2 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(1);
  }
}
</style>
